html {
  --green: #2fb3bc;
  --black: #333333;
  --gray-1: ##eeeeee;
  --gray-2: #e0e0e0;
  --gray-3: #adacac;
  --pink-1: #f7808e;
  --pink-2: #f82370;
  --red: #ff0000;
  --orange-1: #fe8b00;
  --orange-2: #e56000;
}
