@use './breakPoint.scss' as *;
@use './pxvw.scss' as *;

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-size: vwsp(10);
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  line-height: normal;
  position: relative;
  line-height: 1.6;
  color: var(--black);
  font-size: 1.4rem;
}

main {
  overflow: hidden;
}

a {
  transition: all 0.2s;
  &:hover {
    opacity: 0.7;
  }
}

em {
  font-style: normal;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  > span {
    pointer-events: none;
  }
}

input[type='text'],
input[type='password'],
input[type='tel'],
input[type='url'],
input[type='email'],
input[type='number'],
input[type='search'],
textarea,
select[multiple],
button {
  border: none;
}

.green {
  color: var(--green);
}

.red {
  color: #f82055;
}
