.A1 {
  &_header {
    position: relative;
    box-shadow: 0 0.3rem 0 0 rgba(0, 0, 0, 0.16);
    padding: 1rem 1.4rem 0 1.4rem;
    gap: 1.2rem;
    display: grid;

    .selected {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-bottom: 1rem;

      li {
        display: flex;
        align-items: center;
        gap: 0.6rem;
        font-size: 0.9rem;

        a {
          color: var(--green);
        }

        img {
          height: 2rem;
        }
      }

      li + li {
        border-left: 1px solid #e3e8ea;
        padding-left: 1.2rem;
      }
    }
  }

  &_items {
    background: #eef4f7;
    padding: 0 0.8rem;

    .header {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1.5rem 0 1rem;

      .sort {
        color: #666;
        padding: 0.4rem 1rem;
        border: 1px solid #b4c9d4;
        border-radius: 0.4rem;
        background: #fff;
        font-size: 1.3rem;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding-right: 3rem;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="6" viewBox="0 0 9 6"><polygon points="0,0 9,0 4.5,6" fill="%2376B397"/></svg>');
        background-repeat: no-repeat;
        background-position: right 1rem center;
        background-size: 1.2rem 0.6rem;
        cursor: pointer;
        width: max-content;
        margin-left: auto;
      }
      small {
        font-size: 0.7rem;
      }

      .js-note {
        display: none;

        &.is-show {
          display: block;
        }
      }
    }

    .items {
      display: grid;
      gap: 1.4rem;
    }

    .end {
      font-weight: 600;
      color: #6a6a6a;
      text-align: center;
      margin: 2.6rem 0 4rem;
      line-height: 1;
    }
  }

  &_conditions {
    display: grid;
    gap: 2.5rem;
    padding: 2rem 1rem;

    .wrapper {
      display: grid;
      gap: 1.5rem;
    }

    .button-group {
      display: flex;
      flex-wrap: wrap;
      gap: 0.8rem;
    }

    .option-button {
      padding: 0.6rem 1rem;
      font-size: 1.2rem;
      font-weight: bold;
      line-height: 1;
      border: 1px solid var(--green);
      border-radius: 100vh;
      display: block;
      color: #333;

      &.selected {
        background: rgba(47, 179, 188, 0.4);
      }
    }

    .other-button {
      background: var(--green);
      color: white;
      font-size: 1.4rem;
      font-weight: 800;
      width: 26rem;
      height: 4rem;
      display: grid;
      place-items: center;
      border-radius: 0.4rem;
      margin: 2rem auto;
    }
  }

  &_sticky {
    position: fixed;
    bottom: 0;
    height: 6rem;
    width: 100%;
    background: rgba(10, 10, 10, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    .text {
      color: white;

      span {
        color: #ff8c03;
        font-weight: 700;
        font-size: 2.2rem;
        padding: 0 0.3rem;
      }
    }

    .button {
      background: #ff8c03;
      color: white;
      width: 18.2rem;
      height: 3.8rem;
      font-size: 1.2rem;
      font-weight: 800;
      display: grid;
      place-items: center;
      border-radius: 0.3rem;
    }
  }
}
