.B3 {
  background: #eef4f7;
  padding: 5rem 0 6rem;
  &_content {
    display: grid;
    gap: 2rem;
    padding: 0 1.3rem;
  }

  &_title {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    svg {
      display: block;
      width: 2rem;
      height: 2rem;
    }
  }

  &_top {
    display: grid;
    gap: 1.5rem;
    padding: 1.5rem 0 0;

    &_header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &_pref {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }

    &_cards {
      display: flex;
      justify-content: center;
      gap: 1.6rem;
    }

    &_card {
      width: 16.6rem;
      height: 11.5rem;
      display: grid;
      place-items: center;
      background: white;
      box-shadow: 0 2px 2px 0 rgba(185, 202, 209, 0.6);
      border-radius: 2rem;

      &_content {
        display: grid;
        place-items: center;
        gap: 1rem;

        &_image {
          width: 5.4rem;
          height: 4.7rem;
          img {
            object-fit: contain;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
