.B6 {
  background: #eef4f7;
  padding: 1.6rem 1rem 2rem;
  display: grid;
  gap: 2rem;
  position: relative;

  &_content {
    display: grid;
    gap: 0.5rem;
  }

  &_title {
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 1rem;
  }

  &_card {
    background: white;
    box-shadow: 0 2px 2px 0 rgba(185, 202, 209, 0.6);
    border-radius: 0.5rem;
    padding: 1.6rem;

    &-condition {
      border: 1px solid #b4c9d4;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      gap: 0.5rem;
      box-shadow: unset;
    }
  }

  &_labels {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.3rem 0.2rem;
  }

  &_label {
    background: #ededed;
    color: #6e6e6e;
    border-radius: 100vh;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    display: grid;
    align-items: center;
    line-height: 1;
  }

  &_reset {
    background: #868686;
    color: white;
    border-radius: 0.3rem;
    width: 6.6rem;
    min-height: 4.3rem;
    height: 100%;
    display: grid;
    place-items: center;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2;
  }

  &_checkboxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  &_checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &_text {
      font-size: 1.2rem;
    }
  }

  &_expand {
    display: none;

    > .B6_content {
      margin-top: 2rem;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: rgba(0, 0, 0, 0.5);
    height: 6rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    .Button-action {
      color: white;
      font-weight: bold;
      display: grid;
      place-items: center;
      border-radius: 0.4rem;
      width: 30rem;
      height: 4rem;
      font-size: 1.6rem;
      margin: unset;
    }
  }

  .slider {
    padding: 0 0.5rem;
  }

  .slider-price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  .slider-price__val {
    width: 6.5rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    white-space: nowrap;
  }

  .slider-range {
    margin-bottom: 0.5rem;

    // ハンドルがはみ出さないようにパディングを追加
    &:nth-child(2) {
      padding: 0 1.1rem;
    }
  }

  .slider-scale {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }

  .slider-price__scale {
    font-size: 1.1rem;
  }

  // noUiSlider カスタムスタイル
  #range.noUi-target,
  #range-walking.noUi-target,
  #range-building.noUi-target,
  #range-area.noUi-target {
    background: #e0e0e0;
    border: none;
    box-shadow: none;
    height: 0.8rem;
    border-radius: 0.3rem;
  }

  #range .noUi-connect,
  #range-walking .noUi-connect,
  #range-building .noUi-connect,
  #range-area .noUi-connect {
    background: var(--green);
    border-radius: 100vh;
  }

  #range .noUi-handle,
  #range-walking .noUi-handle,
  #range-building .noUi-handle,
  #range-area .noUi-handle {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 100%;
    background: #efefef;
    border: 0.2rem solid var(--green);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    top: -0.7rem;
    right: -1.1rem;

    &::before,
    &::after {
      display: none;
    }

    &:focus {
      outline: none;
    }
  }

  #range.noUi-horizontal .noUi-handle,
  #range-walking.noUi-horizontal .noUi-handle,
  #range-building.noUi-horizontal .noUi-handle,
  #range-area.noUi-horizontal .noUi-handle {
    right: -1.1rem;
  }
}
