.C3 {
  padding: 4.5rem 1rem;

  &_table {
    font-size: 1.1rem;
    text-align: left;
    width: 100%;
    margin-top: 2.4rem;

    th,
    td {
      padding: 1rem;
      border: 1px solid #cccccc;
      background: #f5f6f7;
      font-weight: normal;
    }

    .top {
      vertical-align: top;
    }

    tr:nth-child(even) {
      th,
      td {
        background: #e0e0e0;
      }
    }
  }
}
