.C4 {
  padding: 4.5rem 1rem;

  .toc {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 2.4rem;

    .toc-checkbox {
      display: none;
    }

    .toc-title {
      display: block;
      padding: 1rem;
      font-weight: bold;
      cursor: pointer;
      font-size: 1.4rem;
      font-weight: normal;
      text-align: center;
    }

    .toc-content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-out;
    }

    .toc-list {
      padding: 0 2rem 1rem;
      counter-reset: toc-counter;

      li {
        padding: 0.2rem 0;
        counter-increment: toc-counter;

        a {
          color: var(--green);
          text-decoration: none;
          font-weight: 500;
          font-size: 1.3rem;

          span {
            width: 7.5rem;
            display: inline-block;
          }

          .degit2 {
            width: 9rem;
          }
        }
      }
    }

    .toc-checkbox:checked ~ .toc-content {
      max-height: 100rem;
    }
  }

  .toc-title::after {
    content: '[開く]';
    margin-left: 0.5em;
    cursor: pointer;
    font-size: 1.1rem;
  }

  .toc-checkbox:checked + .toc-title::after {
    content: '[閉じる]';
  }

  &_title {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 2rem 1rem;
    background: #f5f5f5;

    span {
      display: block;
      padding-left: 1rem;
      border-left: 4px solid var(--green);
      line-height: 1.2;
    }
  }

  &_wrapper {
    display: grid;
    gap: 4rem;
  }

  &_content {
    display: grid;
    gap: 1.5rem;
  }

  &_item {
    position: relative;
    padding-left: 2rem;
  }

  &_num {
    position: absolute;
    left: 0;
    top: 0.1rem;
  }

  &_sub {
    padding-left: 2rem;
    margin-bottom: 1rem;
    line-height: 1.8;
    text-indent: -1.5rem;
    margin-left: 1.5rem;
  }

  &_sub_list {
    padding-left: 2rem;
    margin-bottom: 1rem;
    line-height: 1.8;

    li {
      padding-left: 2rem;
      text-indent: -2rem;
    }
  }

  .entry-content {
    p {
      line-height: 1.6;
    }
  }
}
