.CardFavoriteHistory {
  .title {
    font-size: 1.3rem;
    color: #666;
    font-weight: 600;
    padding: 0.8rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .main {
    display: flex;
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    background: #f9f9f9;
    align-items: center;
    gap: 1.5rem;
    padding: 1.2rem 1rem;
    position: relative;

    &:after {
      width: 1.2rem;
      height: 1.9rem;
      display: block;
      content: '';
      background: center/contain no-repeat url(../../img/ico-arrow.svg);
      position: absolute;
      right: 2rem;
      top: 50%;
      transform: translateY(-50%);
    }

    .container {
      display: grid;
      gap: 0.5rem;
      max-width: 10rem;
    }

    .label {
      border-radius: 0.2rem;
      background: #f7808e;
      color: white;
      font-size: 1rem;
      padding: 0.5rem 0;
      line-height: 1;
      font-weight: bold;
      display: grid;
      place-items: center;
    }

    .image {
      flex-shrink: 0;
      width: 10rem;
      height: 9.5rem;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .texts {
      margin-top: 0.4rem;
      font-size: 1rem;
      line-height: 1.5;
    }

    .initialCosts {
      margin: 0.2rem 0;
      li {
        font-size: 1.2rem;
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    padding: 1.2rem 2rem 1.2rem 1rem;

    .Cta {
      .text {
        font-size: 1.4rem;
      }
    }
  }

  .Favorite {
    width: 2.6rem;
    height: 2.2rem;
    flex-shrink: 0;
  }
}
