.Card {
  border-radius: 0.3rem;
  background: #fff;
  box-shadow: 0 0.2rem 0.2rem 0 rgba(185, 202, 209, 0.6);

  &-list {
    .title {
      font-size: 1.6rem;
      color: #666;
      font-weight: 600;
      padding: 1rem;
    }

    .main {
      display: flex;
      border-top: 1px solid #c6c6c6;
      border-bottom: 1px solid #c6c6c6;
      background: #f9f9f9;
      align-items: center;

      .image {
        height: 10rem;
        flex-shrink: 0;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .texts {
        font-size: 1.1rem;
        line-height: 1.8rem;
        padding: 1.2rem 1.5rem;
      }
    }

    .content {
      display: flex;

      .checkbox {
        width: 3.8rem;
        display: grid;
        place-items: center;
        background: #f6f6f6;

        .Card_checkbox {
          appearance: none;
          -webkit-appearance: none;
          width: 1.7rem;
          height: 1.7rem;
          border: 1px solid #6a94a9;
          border-radius: 0.3rem;
          cursor: pointer;
          position: relative;
          background: white;

          &:checked {
            background-color: var(--green);
            border-color: var(--green);
            background-image: url(../../img/ico-check.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 1rem;
          }
        }
      }

      .info {
        display: grid;
        gap: 1rem;
        padding: 1.2rem 2rem 1.2rem 1.2rem;
        width: 100%;

        .detail {
          display: flex;
          gap: 1rem;
          position: relative;
          width: 100%;

          &:after {
            width: 0.8rem;
            height: 1.8rem;
            display: block;
            content: '';
            background: center/contain no-repeat url(../../img/ico-arrow.svg);
            position: absolute;
            right: 0.5rem;
            top: 50%;
            transform: translateY(-50%);
          }

          .layout {
            width: 9.4rem;
            height: 7.1rem;
            position: relative;
            display: block;

            &:after {
              position: absolute;
              right: 0;
              bottom: 0.5rem;
              content: '';
              display: block;
              width: 2rem;
              height: 2rem;
              background: center/cover no-repeat url(../../img/ico-zoom.svg);
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .texts {
            display: block;
            width: 100%;

            .price {
              font-size: 1.2rem;

              .fee {
                color: #f82055;
                font-size: 1.7rem;
                font-weight: 700;
              }
              .en {
                color: #f82055;
                font-size: 1.1rem;
                font-weight: 700;
              }
              .manage {
                color: #f82055;
              }
            }

            .initialCosts {
              display: flex;
              gap: 1rem;

              li {
                display: flex;
                align-items: center;
                gap: 0.4rem;
              }
            }

            .text {
              font-size: 1.1rem;
            }
          }
        }

        .actions {
          display: flex;
          align-items: center;
          gap: 1.5rem;
          width: 100%;
        }

        .suggest {
          border-radius: 100px 0 6rem 100px;
          background: rgba(247, 128, 142, 0.3);
          color: #ff4a76;
          font-size: 1rem;
          font-weight: 600;
          line-height: 100%;
          height: 3rem;
          display: none;
          place-items: center;
          position: relative;
          width: 100%;

          &.is-show {
            display: grid;
          }

          &::after {
            content: '';
            position: absolute;
            top: -0.89rem;
            right: 0;
            width: 0;
            height: 0;
            border-left: 1.2rem solid transparent;
            border-right: 1.2rem solid transparent;
            border-bottom: 0.9rem solid rgba(247, 128, 142, 0.3);
          }
        }
      }
    }
  }

  .favorite {
    width: 2.5rem;
    height: 2.2rem;
    background: center/contain no-repeat url(../../img/ico-heart.svg);
    &.-filled {
      background-image: url(../../img/ico-heart-fill.svg);
    }
  }
}
