.CardRecommendSmall {
  .title {
    font-size: 1.3rem;
    color: #666;
    font-weight: 600;
    padding: 0.8rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .main {
    display: flex;
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    background: #f9f9f9;
    align-items: center;
    gap: 1.5rem;
    padding: 1.2rem 1rem;
    position: relative;

    .container {
      display: grid;
      gap: 0.5rem;
      max-width: 10rem;
    }

    .label {
      border-radius: 0.2rem;
      background: #f7808e;
      color: white;
      font-size: 1rem;
      padding: 0.5rem 0;
      line-height: 1;
      font-weight: bold;
      display: grid;
      place-items: center;
    }

    .image {
      flex-shrink: 0;
      width: 10rem;
      height: 10rem;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .texts {
      margin-top: 0.4rem;
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  .Favorite {
    width: 2.2rem;
    height: 1.9rem;
  }
}
