.CardPropertyList {
  .title {
    font-size: 1.3rem;
    color: #666;
    font-weight: 600;
    padding: 1rem;
  }

  .main {
    display: flex;
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    background: #f9f9f9;
    align-items: center;

    .image {
      height: calc(9.5rem + 2px);
      width: 10rem;
      flex-shrink: 0;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .texts {
      font-size: 1.1rem;
      line-height: 1.8rem;
      padding: 1.2rem 1.5rem;
    }
  }

  .detail {
    display: flex;
    gap: 1rem;
    position: relative;
    width: 100%;

    &:after {
      width: 0.9rem;
      height: 1.8rem;
      display: block;
      content: '';
      background: center/contain no-repeat url(../../img/ico-arrow.svg);
      position: absolute;
      right: 0.5rem;
      top: 50%;
      transform: translateY(-50%);
    }

    .layout {
      width: 9.4rem;
      height: 7.1rem;
      display: block;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .content {
    display: flex;

    .checkbox {
      width: 3.8rem;
      display: grid;
      place-items: center;
      background: #f6f6f6;
    }

    .info {
      display: grid;
      gap: 1rem;
      padding: 1.2rem 2rem 1.2rem 1.2rem;
      width: 100%;

      .initialCosts {
        margin: 0.2rem 0;
        li {
          font-size: 1.2rem;
        }
      }

      .actions {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        width: 100%;

        .Cta {
          width: 25rem;
        }
      }

      .suggest {
        background: rgba(247, 128, 142, 0.3);
        color: #ff4a76;
        font-size: 1rem;
        font-weight: 600;
        line-height: 100%;
        height: 3rem;
        display: none;
        place-items: center;
        position: relative;
        width: 100%;

        &.is-show {
          display: grid;
        }

        &::after {
          content: '';
          position: absolute;
          top: -0.89rem;
          right: 0.9rem;
          width: 0;
          height: 0;
          border-left: 0.65rem solid transparent;
          border-right: 0.65rem solid transparent;
          border-bottom: 0.9rem solid rgba(247, 128, 142, 0.3);
        }
      }
    }
  }

  .Favorite {
    flex-shrink: 0;
    width: 2.6rem;
    height: 2.3rem;
  }
}
