.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  opacity: 0;
  transition: opacity 0.3s ease;

  &.is-show {
    display: flex;
  }

  &.is-visible {
    opacity: 1;
  }

  &_title {
    color: var(--green);
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem 1rem 1rem;
  }

  &_close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10000;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1.6rem;
      height: 0.2rem;
      background: #333;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &_content {
    background: white;
    width: 95%;
    max-height: 90%;
    overflow: scroll;
  }
}
