<ul class="BannerList">
  <li class="BannerList_item">
    <a href="#">
      <img src="/img/bnr-card-pet.png" alt="ペット相談可">
    </a>
  </li>
  <li class="BannerList_item">
    <a href="#">
      <img src="/img/bnr-card-zero.png" alt="おトク！敷金/礼金ゼロ">
    </a>
  </li>
  <li class="BannerList_item">
    <a href="#">
      <img src="/img/bnr-card-designer.png" alt="おしゃれなデザイナーズ">
    </a>
  </li>
  <li class="BannerList_item">
    <a href="#">
      <img src="/img/bnr-card-renovation.png" alt="リノベーション・リフォーム">
    </a>
  </li>
  <li class="BannerList_item">
    <a href="#">
      <img src="/img/bnr-card-new.png" alt="キレイな新築・浅築">
    </a>
  </li>
</ul>