<article class="Card CardRecommendLarge">
  <h3 class="title">
    中野林戸建
    <button class="Card_favorite js-favorite" type="button"></button>
  </h3>
  <a href="#" class="main">
    <figure class="image">
      <img src="/img/dummy/thumb.png" alt="">
    </figure>
    <div class="Card_texts">
      <p class="price">
        <span class="fee">18.5</span>
        <span class="en">万円</span>
        (管理費<span class="manage">なし</span>)
      </p>
      <ul class="initialCosts">
        <li>
          <span class="Label Label-gray">敷</span>
          9.6万円
        </li>
        <li class="green">
          <span class="Label Label-green">礼</span>
          0円
        </li>
      </ul>
      <div class="texts">
        <p class="text">
          272.84㎡ / 6LDK / 1-3階
        </p>
        <p class="text">
          JR京浜東北線/大宮駅 バス12分
        </p>
        <p class="text">
          (バス停)観音寺前 歩6分
        </p>

      </div>
    </div>
  </a>
  <div class="content">
    <div class="thumb">
      <figure class="image">
        <img src="./img/dummy/layout.png" alt="">
      </figure>
      <figure class="image">
        <img src="./img/dummy/img1.png" alt="">
      </figure>
    </div>
    <ul class="list">
      <li class="IconZoom js-imageModal">
        <img src="./img/dummy/img2.png" alt="">
      </li>
      <li class="IconZoom js-imageModal">
        <img src="./img/dummy/img3.png" alt="">
      </li>
      <li class="IconZoom js-imageModal">
        <img src="./img/dummy/img4.png" alt="">
      </li>
      <li class="IconZoom js-imageModal">
        <img src="./img/dummy/img5.png" alt="">
      </li>
      <li class="IconZoom js-imageModal">
        <img src="./img/dummy/img5.png" alt="">
      </li>
    </ul>
    <button type="button" class="close js-close-gallery-list"></button>
  </div>
</article>