<article class="Card CardSmall">
  <div class="main">
    <figure class="image">
      <img src="/img/dummy/thumb.png" alt="">
    </figure>
    <div class="Card_texts">
      <div class="texts">
        <p class="text">
          さくら荘 | 1階 | ワンルーム |
        </p>
      </div>
      <p class="price">
        <span class="fee">18.5</span>
        <span class="en">万円</span>
        (管理費<span class="manage">なし</span>)
      </p>
      <ul class="initialCosts">
        <li>
          <span class="Label Label-gray">敷</span>
          9.6万円
        </li>
        <li class="green">
          <span class="Label Label-green">礼</span>
          0円
        </li>
      </ul>
    </div>
    <button type="button" class="expand js-card-expand">
      <img src="/img/ico-triangle-down.svg" alt="">
      <span>
        開く
      </span>
    </button>
  </div>
</article>