<article class="Card CardPropertyList">
  <h3 class="title">
    中野林戸建
  </h3>
  <div class="main">
    <figure class="image">
      <img src="/img/dummy/thumb.png" alt="">
    </figure>
    <div class="texts">
      <p class="text">
        JR京浜東北線/大宮駅 バス12分 (バス停)観音寺前 歩6分
      </p>
      <p class="text">
        埼玉県さいたま市西区大字中野林 築30年 / 3階建
      </p>
    </div>
  </div>
  <div class="content">
    <div class="checkbox">
      <input type="checkbox" class="Card_checkbox" id="fav-1" name="fav-1">
    </div>
    <div class="info">
      <div class="detail">
        <a class="layout IconZoom js-imageModal">
          <img src="/img/dummy/layout.png" alt="">
        </a>
        <a href="#" class="Card_texts">
          <p class="price">
            <span class="fee">18.5</span>
            <span class="en">万円</span>
            (管理費<span class="manage">なし</span>)
          </p>
          <ul class="initialCosts">
            <li>
              <span class="Label Label-gray">敷</span>
              9.6万円
            </li>
            <li class="green">
              <span class="Label Label-green">礼</span>
              0円
            </li>
          </ul>
          <p class="text">
            272.84㎡/ 6LDK / 1-3階
          </p>
        </a>
      </div>
      <div class="actions">
        <a href="#" class="Cta">
          <span class="free">
            無料
          </span>
          <span class="text">
            <i>
            </i>
            空室状況をお問い合わせ
          </span>
        </a>
        <button class="Card_favorite js-favorite" type="button"></button>
      </div>
      <p class="suggest is-show js-suggest">
        お気に入りに追加して他の物件と比較してみませんか？
      </p>
    </div>

  </div>
</article>