<article class="Card CardRecommendSmall">
  <label class="title">
    <input type="checkbox" class="Checkbox" id="fav-1" name="fav-1">
    中野林戸建
  </label>
  <div class="main">
    <div class="container">
      <p class="label">お気に入り登録済み</p>
      <figure class="image">
        <img src="/img/dummy/thumb.png" alt="">
      </figure>
    </div>
    <div class="Card_texts">
      <p class="price">
        <span class="fee">18.5</span>
        <span class="en">万円</span>
        (管理費<span class="manage">なし</span>)
      </p>
      <ul class="initialCosts">
        <li>
          <img class="Label" src="/img/ico-shiki-gray.svg" alt="敷">
          9.6万円
        </li>
        <li class="green">
          <img class="Label" src="/img/ico-rei-green.svg" alt="礼">
          0円
        </li>
      </ul>
      <div class="texts">
        <p class="text">
          272.84㎡ / 6LDK / 1-3階
        </p>
        <p class="text">
          JR京浜東北線/大宮駅 バス12分
        </p>
        <p class="text">
          (バス停)観音寺前 歩6分
        </p>

      </div>
    </div>
  </div>

</article>