<footer class="Footer">
  <div class="wrapper">
    <div class="logo">
      <a href="#">
        <img src="./img/logo.svg" alt="住みぺディア">
      </a>
      <p class="area">
        東京版
      </p>
    </div>
    <div class="content">
      <ul class="list">
        <li>
          <a href="#">
            運営会社
          </a>
        </li>
        <li>
          <a href="#">
            利用規約
          </a>
        </li>
        <li>
          <a href="#">
            プライバシーポリシー
          </a>
        </li>
        <li>
          <a href="#">
            お問い合わせ
          </a>
        </li>
      </ul>
      <small>
        ©住みペディア
      </small>
    </div>
  </div>
</footer>