<div class="ImageModal">
  <button class="ImageModal_close js-modal-close"></button>
  <div class="ImageModal_content">
    <div class="swiper js-image-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="/img/dummy/layout.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="/img/dummy/img1.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="/img/dummy/img2.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="/img/dummy/img3.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="/img/dummy/img4.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="/img/dummy/img5.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="/img/dummy/img6.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="/img/dummy/img7.png" alt="">
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
  <a href="#" class="Button Button-action ImageModal_button">物件詳細はこちら</a>
</div>