.Checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 1.7rem;
  height: 1.7rem;
  border: 0.1rem solid #6a94a9;
  border-radius: 0.3rem;
  cursor: pointer;
  position: relative;
  background: white;

  &:checked {
    background-color: var(--green);
    border-color: var(--green);
    background-image: url(../../img/ico-check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem;
  }
}
