.IconZoom {
  position: relative;

  &:after {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    background: center/cover no-repeat url(../../img/ico-zoom.png);
  }
}
