.SectionTitle {
  font-size: 1.3rem;
  display: flex;
  gap: 0.6rem;

  &:before {
    content: '';
    display: block;
    width: 0.4rem;
    height: 2rem;
    background: var(--green);
    border-radius: 0.2rem;
  }
}
