.SectionTitle {
  font-size: 1.3rem;
  display: flex;
  gap: 0.6rem;
  font-weight: bold;

  &:before {
    content: '';
    display: block;
    width: 0.4rem;
    height: 2rem;
    background: var(--green);
    border-radius: 0.2rem;
  }

  &-fill {
    background: var(--green);
    height: 3.4rem;
    display: grid;
    place-items: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
  }
}
